<div class="container">
  <div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-lg-5" style="margin: 0 auto;">
      <div class="card" >
        <p class="text-center" style="font-size: 28px; font-weight: bold; margin: 28px;">Create New World</p>
        <div class="card-body">
          <form [formGroup]="createForm" (ngSubmit)="onCreate(worldName.value )">
            <div class="form-horizontal" >
              <p *ngIf="submitted" style="color: #db524b; margin-left: 10px;">{{result}}</p>
              <div class="form-group">
                <label for="worldName" class="col-12 ">World Name</label>
                <div class="col-md-12">
                  <input id="worldName" type="text" class="form-control" name="worldName" #worldName formControlName="worldName"/>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label class="col-md-12 ">Choose Map</label>
                <div class="col-md-12">
                  <div *ngFor="let map of mapFiles">
                    <label>
                      <input type="radio" class="custom-radio" value="{{map}}" [(ngModel)]="mapFileChosen" name="mapFile" formControlName="mapFile">
                      {{map}}
                    </label>
                  </div>
                </div>
              </div>
              <button class="btn btn-wn btn-center" >
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
