<div class="container">
  <div class="row" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-lg-5" style="margin: 0 auto;">
      <div class="card" >
        <p class="text-center" style="font-size: 28px; font-weight: bold; margin: 28px;">Join or Create a new world!</p>
        <div class="card-body">
          <table >
            <p *ngIf="submitted" style="color: #db524b; margin-left: 10px;">{{result}}</p>
            <tbody>
            <tr *ngFor="let game of gameInfo; let i = index;">
              <td>
                <div class="table-row" style="margin-left: 20px;">
                <h4 placement="left" ngbTooltip="World Name" triggers="hover">{{game.worldName}}</h4>
                  <span>
                    <span style="font-size: 10px" placement="left" ngbTooltip="Player Capacity" triggers="hover"><fa-icon [icon]="faUsers"></fa-icon> {{game.playersJoined}}/{{game.playerCapacity}}</span>
                    <br>
                    <span style="font-size: 10px" placement="left" ngbTooltip="Admin" triggers="hover"><fa-icon [icon]="faUser"></fa-icon> {{game.adminName}}</span>
                  </span>
                  <button class="btn btn-wn-inverted float-right" style="margin-top: -35px;" [disabled]="game.playersJoined==game.playerCapacity || game.started" (click)="onJoin(game.worldName)">join</button>
                  <br>
                  <hr *ngIf="i!=gameInfo.length-1">
                </div>
              </td>
            </tr>
            <hr>
            <button class="btn btn-wn" style="margin-left: 95px;" (click)="onCreate()">Create new world!</button>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

